* {
  margin: 0;
  padding: 0;
}

ul {
  background-color: rgb(131, 208, 208, 0.5);
  border-bottom: 2px dotted white;
  position: fixed;
  height: 5%;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

a {
  font-size: large;
  transition: font-size 0.5s;
}

a:hover {
  color: white;
  transition: font-size 1s;
  font-size: 1.3rem;
}

ul:has(li:hover) {
  a:hover{
    color: white;
  }
  a:not(:hover) {
    color: rgb(125, 238, 255);
  }
}

#accueil {
  border-bottom: 5px dotted white;
  background-image: url(images/Xiao_Header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

#position_accueil {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

#texte_accueil {
  width: 50%;
  background-color: rgba(111, 221, 173, 0.3);
  border-radius: 20%;
  border: 5px outset white;
  padding: 4%;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 5px 5px 3px black;
  text-align: center;
  margin-top: 30%;
  transition: transform 0.7s;;
}

#texte_accueil:hover {
  transform: rotate(-10deg) scale(1.1);
}

#inscription {
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

#inscription img {
  width: 45%;
  margin: 2.5% 0px;
  transition: transform 0.7s;
}

#inscription img:hover {
  transform: scale(1.1);
}

#position_form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1.8%;
}

#position_form h2 {
  color: white;
}

form {
  border: 3px dashed white;
  background-color: rgb(240, 248, 255, 0.3);
  padding: 5%;
}

#tableau {
  border-top: 5px dotted white;
  border-bottom: 5px dotted white;
  background-image: url(images/Xiao_Aether.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

#position_tableau_titre {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  transition: transform 1s;
}

#position_tableau_titre:hover {
  transform: scale(1.3);
}

#position_tableau_titre h2 {
  color: white;
}

#position_tableau {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

table {
  background-color: rgb(253, 222, 164);
  border: 1px solid black;
  text-align: center;
}

th, td {
  border: 1px solid black;
}

th {
  background-color: bisque;
}

tr:nth-child(even) {
  background-color: rgb(126, 221, 172, 0.7);
}

tr:nth-child(odd) {
  background-color: rgb(238, 186, 130);
}

#articles {
  background: linear-gradient(to bottom, rgb(223, 170, 48), rgb(25, 2, 144));
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

#articles h1 {
  color: white;
  margin-top: 2%;
}

#articles img {
  width: 33.8%;
  border: 2px dotted white;
  margin: 2% 0px;
  transition: transform 0.5s;
}

#articles img:hover {
  transform: scale(1.1);
}

#paragraphe1 {
  color: rgb(223, 170, 48);
  width: 30%;
  background-color: rgb(25, 2, 144, 0.5);
  padding: 2%;
  margin: 2% 0px;
  transition: transform 0.5s;
}

#paragraphe1:hover {
  transform: scale(1.1);
}

#paragraphe2 {
  color: rgb(25, 2, 144);
  width: 30%;
  background-color: rgb(223, 170, 48, 0.5);
  padding: 2%;
  margin: 2% 0px;
  transition: transform 0.5s;
}

#paragraphe2:hover {
  transform: scale(1.1);
}

#position_articles1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

#position_articles2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

#galerie {
  background-image: url(images/Pattern_Chance.png), linear-gradient(to bottom, rgb(25, 2, 144) 20%, rgb(144, 255, 222), rgb(94, 111, 228));
  background-blend-mode: overlay;
  border-top: 5px dotted white;
  border-bottom: 5px dotted white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center; 
  height: 100%;
}

#galerie h1 {
  color: white;
  margin-top: 4%;
}

#position_galerie1 {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1.5% ;
}

#position_galerie2 {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.5% ;
}

#galerie img {
  width: 210px;
  border: 7px outset rgb(64, 166, 125);
  margin: 2.5% 0px;
  transition: transform 0.5s;
}

#galerie img:hover {
  transform: scale(1.2);
}

#xiao_arriere_plan {
  position: absolute;
  width: 100%;
  height: 100.5%;
  object-fit: cover;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  #xiao_arriere_plan {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #xiao_arriere_plan {
    width: auto;
    height: 105%;
  }
}

#video_conteneur {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 50%;
  height: 100vh;
}

#video_conteneur h1{
  margin: 2%;
  width: 40%;
  color: white;
  text-align: center;
}

#video_conteneur p{
  margin: 2%;
  width: 40%;
  color: white;
  text-align: center;
}

iframe {
  transition: transform 1s;
}

iframe:hover {
  transform: scale(1.1);
}

#pied_de_page {
  border-top: 5px dotted white;
  background-image: url(images/Masque_Footer.png);
  background-color: rgb(29, 18, 110);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 55vh;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#pied_de_page1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: large
}

#pied_de_page2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: large
}

#icons ion-icon {
  font-size: 1.5em;
  transition: color 0.3s ease;
  transition: transform 0.5s;
}

#icons ion-icon:hover {
  cursor: pointer;
}

#icons ion-icon[name="logo-twitch"]:hover {
  color: #9146ff;
  transform: scale(1.1);
}

#icons ion-icon[name="logo-discord"]:hover {
  color: #5865f2;
  transform: scale(1.1);
}

#icons ion-icon[name="logo-reddit"]:hover {
  color: #ff4500;
  transform: scale(1.1);
}

#icons ion-icon[name="logo-twitter"]:hover {
  color: #1da1f2;
  transform: scale(1.1);
}

#icons ion-icon[name="logo-youtube"]:hover {
  color: #ff0000;
  transform: scale(1.1);
}